<extend name="Common/base"/>
<block name="style">

</block>

<block name="body">
    <!-- 内容区域 -->
    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 后台首页 <small></small></div>
                <p class="page-header-description">现在已经是最新版本。</p>
            </div>
            <div class="am-u-lg-3 tpl-index-settings-button">
                <!--<a href="{:U('Config/group')}"><button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 站点设置</button></a>-->
            </div>
        </div>

    </div>

    <div class="row-content am-cf">
        <div class="row  am-cf" style="margin-left: 10%">
            <!--简历解析剩余次数：{$balance}，到期时间：{$expired}-->
        </div>

        <div class="row am-cf" style="height:200px">


        </div>

    </div>
</block>

<block name="script">
    <script type="text/javascript">
    </script>
</block>