<extend name="Common/base"/>
<block name="style">
</block>
<block name="body">
    <!-- 内容区域 -->
    <div class="row-content am-cf">
        <div class="row">
            <div class="widget am-cf">
                <div class="widget-body  am-fr">
                    <form id="orderForm" action="__ACTION__" method="post" class="ajaxForm">
                    <table width="100%" class="am-table am-table-bordered">
                        <thead>
                            <tr><th colspan="4">基本信息</th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4" align="center">
                                    <input type="hidden" id="resume_id_class" name="resume_id" value="{$info['id']}">
                                    <button type="submit" id="submit_class" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                    <button type="button" class="am-btn am-btn-primary am-btn-warning " onclick="goback1();">返回</button>
                                </td>
                            </tr>
                        </tbody>
                            <thead>
                                <tr><th colspan="4">教育经历</th></tr>
                            </thead>
                            <tbody>
                            <empty name="resume_edu_list">
                                <tr>
                                    <td>
                                        <div align="right"><strong>教育经历</strong></div>
                                    </td>
                                    <td colspan="3">
                                        暂无
                                    </td>
                                </tr>
                            </empty>
                            <notempty name="resume_edu_list">
                                <foreach name="resume_edu_list" item="v">
                                    <tr>
                                        <td style="width: 25%;"><div align="right"><strong>学校/学历：</strong></div></td>
                                        <td style="width: 25%;">{$v['school_name']}&nbsp;&nbsp;|&nbsp;&nbsp;{$v['degree']}</td>
                                        <td><div align="right"><strong>时间：</strong></div></td>
                                        <td>{$v['starttime']}&nbsp;&nbsp;-&nbsp;&nbsp;{$v['endtime']}</td>
                                    </tr>
                                    <tr>
                                        <td><div align="right"><strong>专业：</strong></div></td>
                                        <td><span style="color: #ff6e04">{$v['major']}</span></td>
                                        <td colspan="2">
                                            <a href="javascript:;" data-url="{:U('ResumeEdu/editResumeEdu',array('id'=>$v['id']))}" class="increase_resume_edu1">
                                            <i class="am-icon-pencil">编辑</i>
                                            </a>
                                            <a href="javascript:;" data-url="{:U('ResumeEdu/delResumeEdu',array('id'=>$v['id']))}" class="delete_resume_edu">
                                                <i class="am-icon-recycle">删除</i>
                                            </a>
                                        </td>
                                    </tr>
                                </foreach>
                            </notempty>
                            <tr>
                                <td colspan="4" style="text-align: center">
                                    <div class="tpl-table-black-operation">
                                        <div class="tw-dropdown-toggle" style="position:relative;display: inline; ">
                                            <a href="javascript:;" data-url="{:U('ResumeEdu/editResumeEdu', array('resume_id' => $info['id']))}" class="increase_resume_edu"> 新增教育经历 </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <thead>
                                <tr><th colspan="4">工作经历</th></tr>
                            </thead>
                            <tbody>
                            <empty name="resume_work_list">
                                <tr>
                                    <td>
                                        <div align="right"><strong>工作经历</strong></div>
                                    </td>
                                    <td colspan="3">
                                        暂无
                                    </td>
                                </tr>
                            </empty>
                            <notempty name="resume_work_list">
                                <foreach name="resume_work_list" item="v">
                                    <tr>
                                        <td><div align="right"><strong>公司名称/职位：</strong></div></td>
                                        <td>{$v['company_name']}&nbsp;&nbsp;|&nbsp;&nbsp;<span style="color: #ff6e04">{$v['position']}</span></td>
                                        <td><div align="right"><strong>时间：</strong></div></td>
                                        <td>{$v['starttime']}&nbsp;&nbsp;-&nbsp;&nbsp;{$v['endtime']}</td>
                                    </tr>
                                    <tr>
                                        <td><div align="right"><strong>描述：</strong></div></td>
                                        <td>{$v['describe']}</td>
                                        <td colspan="2">
                                            <a href="javascript:;" data-url="{:U('ResumeWork/editResumeWork',array('id'=>$v['id']))}" class="increase_resume_work1">
                                                <i class="am-icon-pencil">编辑</i>
                                            </a>
                                            <a href="javascript:;" data-url="{:U('ResumeWork/delResumeWork',array('id'=>$v['id']))}" class="delete_resume_work">
                                                <i class="am-icon-recycle">删除</i>
                                            </a>
                                        </td>
                                    </tr>
                                </foreach>
                            </notempty>
                            <tr>
                                <td colspan="4" style="text-align: center">
                                    <div class="tpl-table-black-operation">
                                        <div class="tw-dropdown-toggle" style="position:relative;display: inline; ">
                                            <a href="javascript:;" data-url="" class="increase_resume_work"> 新增工作经历 </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="text-align: center;">
                                    <button type="button" class="am-btn am-btn-primary am-btn-warning " onclick="goback1();">返回</button>
                                </td>
                            </tr>
                            </tbody>
                    </table>
                    </form>         
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="__PUBLIC__/fileupload/js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="__PUBLIC__/fileupload/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="__PUBLIC__/fileupload/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="__ADMIN__/layDate-v5.0.9/laydate/laydate.js"></script>
    <script type="text/javascript" src="__STATIC__/js/address.js"></script>
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript">
        function goback1(){
            location.href='/index.php/Hr/Resume/listHrResume';
        }
        $(function() {
            $('.delete_resume_edu').click(function(){
                if(confirm('确认删除该教育经历？')){
                    $.get($(this).data('url'), {}, function(data){toastr(data.info);if(data.status == 1) location.reload();});
                }
            });
            $('.delete_resume_work').click(function(){
                if(confirm('确认删除该工作经历？')){
                    $.get($(this).data('url'), {}, function(data){toastr(data.info);if(data.status == 1) location.reload();});
                }
            });
            $('.increase_resume_work').click(function(){
                var url = '/index.php/Hr/ResumeWork/editResumeWork/resume_id/'+$('#resume_id_class').val();
                layer.open({
                    type: 2,
                    title: '新增工作经历',
                    shadeClose: false,
                    shade: 0.5,
                    area: ['80%', '80%'],
                    content: url
                });
            });
            $('.increase_resume_work1').click(function(){
                var url = $(this).data('url');
                layer.open({
                    type: 2,
                    title: '编辑工作经历',
                    shadeClose: false,
                    shade: 0.5,
                    area: ['80%', '80%'],
                    content: url
                });
            });
            $('.increase_resume_edu').click(function(){
                var url ='/index.php/Hr/ResumeEdu/editResumeEdu/resume_id/'+$('#resume_id_class').val();
                layer.open({
                    type: 2,
                    title: '新增教育经历',
                    shadeClose: false,
                    shade: 0.5,
                    area: ['80%', '80%'],
                    content: url
                });
            });
            $('.increase_resume_edu1').click(function(){
                var url = $(this).data('url');
                layer.open({
                    type: 2,
                    title: '编辑教育经历',
                    shadeClose: false,
                    shade: 0.5,
                    area: ['80%', '80%'],
                    content: url
                });
            });
        });
    </script>
</block>