<extend name="Common/base"/>
<block name="style">
    <style type="text/css">
        .more-dropdown-menu {
            background-clip: padding-box;
            background-color: #fff;
            border: 1px solid;
            border-radius: 4px;
            box-shadow: 0 6px 12px #aaa;
            display: none;
            font-size: 14px;
            right: 30%;
            min-width: 80px;
            padding: 5px;
            position: absolute;
            text-align: left;
            top: 100%;
            z-index: 1000;
        }
        .more-dropdown-menu li{
            margin: 3px 0;
        }
        .dropdown-button {
            display: inline-block;
            padding: 5px 6px;
            font-size: 12px;
            line-height: 12px;
            border: 1px solid #36c6d3;
            background-color: #fff;
            color: #36c6d3;
        }
        .shop-name{
            font-size: 12px;
            padding-top: 5px;
            color: #36c6d3;
        }
    </style>
</block>

<block name="body">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">简历库列表</div>
                    </div>
                    <div class="widget-body  am-fr">

                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <a type="button" class="am-btn am-btn-default am-btn-success" href="{:U('Resume/editResume')}"><span class="am-icon-plus"></span> 创建简历</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="__SELF__" method="get">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                                <div class="am-form-group tpl-table-list-select">

                                </div>
                            </div>
                        </form>

                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                <thead>
                                    <tr>
                                        <th width="80">序号</th>
                                        <th width="10%" >姓名</th>
                                        <th width="12%">联系方式</th>
                                        <th width="15%" class="align-center">求职方向</th>
                                        <th width="10%" class="align-center">工作性质</th>
                                        <th width="15%" class="align-center">更新时间</th>
                                        <th class="align-center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="info" item="v" key="k">
                                        <tr class="gradeX">
                                            <td>{:pageNumber(10, $k+1)}</td>
                                            <td >{$v['true_name']}</td>
                                            <td>
                                                手机号：{$v['mobile']}<br/>
                                                邮箱：{$v['email']}
                                            </td>
                                            <td class="align-center">
                                                地区：{$v['job_area']}<br />
                                                职业：{$v['job_intension']}
                                            </td>
                                            <td class="align-center">{$v['post_nature']}</td>
                                            <td class="align-center">{:time_format($v['update_time'])}</td>

                                            <td class="f-14 align-center">
                                                <div class="tpl-table-black-operation">
                                                    <div class="tw-dropdown-toggle" style="position:relative;display: inline; ">
                                                        <if condition="$v['is_edit'] eq 1">
                                                            <a href="{:U('Resume/editResume',array('resume_id'=>$v['id']))}">编辑简历
                                                            </a>
                                                            <else/>
                                                            <span style="color: #ff1408;">认证简历不可操作</span>
                                                        </if>
                                                        <a href="{:U('Resume/seeResumeDetail',array('id'=>$v['id']))}">简历详情
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </foreach>
                                </tbody>
                            </table>
                            <empty name="info">
                                <h4>aOh! 没有相关内容!</h4>
                            </empty>
                        </div>
                        <div class="am-u-lg-12 am-cf">

                            <div class="am-fr">
                                <div class="am-pagination tpl-pagination">
                                    {$page}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
       $('.increase_resume_work').click(function(){
           var url = $(this).attr('data-url');
           layer.open({
               type: 2,
               title: '新增工作经历',
               shadeClose: true,
               shade: 0.5,
               area: ['60%', '60%'],
               content: url,
           });
       });
       $('.increase_resume_edu').click(function(){
           var url = $(this).attr('data-url');
           layer.open({
               type: 2,
               title: '新增教育经历',
               shadeClose: true,
               shade: 0.5,
               area: ['60%', '60%'],
               content: url,
           });
       });
    </script>
</block>