<extend name="Common/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/fileupload/css/jquery.fileupload.css" media="all">
    <style>
        .am-table {
            font-size: 1.3rem;
            margin-bottom: 0;
        }
        .am-btn{
            padding:5px 15px;font-size:12px
        }
    </style>
</block>

<block name="body">
    <!-- 内容区域 -->
    <div class="row-content am-cf">
        <div class="row">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">简历检索</div>
                </div>
                <div class="widget-body  am-fr">
                    <form action="{:U('Resume/listHrResume')}" method="get">
                    <table width="100%" class="am-table am-table-bordered">
                        <thead>
                            <tr><th colspan="4">检索条件</th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><div align="right"><strong>简历姓名：</strong></div></td>
                                <td><input type="text" name="true_name" value="{$info['true_name']}" style="width:500px" placeholder="请输入简历的姓名"/></td>
                            </tr>

                            <tr>
                                <td><div align="right"><strong>联系方式：</strong></div></td>
                                <td><input type="text" name="mobile" value="{$info['mobile']}" style="width:500px" placeholder="请输入联系方式"/></td>
                            </tr>

                            <tr>
                                <td><div align="right"><strong>邮箱地址：</strong></div></td>
                                <td><input type="text" name="email" value="{$info['email']}" style="width:500px" placeholder="请输入邮箱地址"/></td>
                            </tr>
                            <tr>
                                <td><div align="right"><strong>性别：</strong></div></td>
                                <td>
                                    <select name="sex" id="sex" data-am-selected="{}">
                                        <option value="0">不限</option>
                                        <option value="1">男</option>
                                        <option value="2">女</option>
                                    </select>
                                    <script type="text/javascript">
                                        $(function(){
                                            $('#sex').val({$info['sex']});
                                        });
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <td><div align="right"><strong>年龄：</strong></div></td>
                                <td>
                                    <input type="text" id="starttime" name="age_min" value="{$info['age_min']}" style="width: 200px;" placeholder="请选择出生年月" />
                                    <input type="text" id="endtime" name="age_max" value="{$info['age_max']}" style="width: 200px;" placeholder="请选择出生年月" />
                                </td>
                            </tr>
                            <tr>
                                <td><div align="right"><strong>岗位性质：</strong></div></td>
                                <td>
                                    <select name="post_nature" id="post_nature" data-am-selected="{searchBox: 0}">
                                        <option value="">请选择</option>
                                        <foreach name="nature" item="v">
                                            <option value="{$v['name']}">{$v['name']}</option>
                                        </foreach>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><div align="right"><strong>行业属性：</strong></div></td>
                                <td>
                                    <select name="industry_id" id="industry_id" data-am-selected="{searchBox: 0}" >
                                        <option value="">请选择行业</option>
                                        <foreach name="industry" item="v">
                                            <option value="{$v['id']}">{$v['industry_name']}</option>
                                        </foreach>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><div align="right"><strong>求职方向：</strong></div></td>
                                <td>
                                    <select data-am-selected="{searchBox: 1, maxHeight: '180px'}" style="display: none;" name="parent_id" id="parent_id">
                                    </select>
                                    <select data-am-selected="{searchBox: 1, maxHeight: '180px'}" style="display: none;" name="position_id" id="position_id">
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td><div align="right"><strong>工作地区：</strong></div></td>
                                <td><div class="am-form-group" id="start_address">
                                    <select name="province"></select>
                                    <select name="job_area"></select>
                                    <select name="county"></select>
                                </div></td>
                            </tr>

                            <tr>
                                <td><div align="right"><strong>职业标签：</strong></div></td>
                                <td>
                                    <select name="career_label" id="career_label" data-am-selected="{searchBox: 0}">
                                        <option value="">请选择</option>
                                        <foreach name="career" item="v">
                                            <option value="{$v['name']}">{$v['name']}</option>
                                        </foreach>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2" align="center">
                                    <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                    <button type="button" class="am-btn am-btn-primary am-btn-warning " onclick="goback();">返回</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </form>         
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="__PUBLIC__/fileupload/js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="__PUBLIC__/fileupload/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="__ADMIN__/layDate-v5.0.9/laydate/laydate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/fileupload/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="__STATIC__/js/address.js"></script>
    <script type="text/javascript">
        $(function() {
            initAddress('#start_address',"", "", "", 1);
            laydate.render({
                elem: '#starttime'
            });
            laydate.render({
                elem: '#endtime'
            });
            $('#industry_id').change(function(){
                initPosition($(this).val());
            });
            function initPosition(industry_id){
                if(industry_id > 0){
                    $.post("/index.php/Hr/Position/getPositionList", {industry_id: industry_id}, function (data) {
                        $('#parent_id').html('<option data-id="0" value="0">一级菜单</option>');
                        var dataLen = data.data.length;
                        var parent_sel = 0;
                        for (var i = 0; i < dataLen; i++) {
                            parent_sel = '';
                            $('#parent_id').append('<option data-id="' + data.data[i].id
                                + '" value="' + data.data[i].id + '" '+parent_sel+'>'
                                + data.data[i].position_name + '</option>');
                        }
                    });
                }
            }

            $('#parent_id').change(function(){
                initPositionChildren($(this).val());
            });

            function initPositionChildren(position_id){
                if(position_id > 0){
                    $.post("/index.php/Hr/Position/getPositionChildrenList", {position_id: position_id}, function (data) {
                        $('#position_id').html('<option data-id="0" value="">请选择</option>');
                        var dataLen = data.data.length;
                        var parent_sel = '';
                        for (var i = 0; i < dataLen; i++) {
                            parent_sel = '';
                            $('#position_id').append('<option data-id="' + data.data[i].id
                                + '" value="' + data.data[i].id + '" '+parent_sel+'>'
                                + data.data[i].position_name + '</option>');
                        }
                    });
                }
            }
        });
    </script>
</block>