<extend name="Common/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__HR__/css/creatResume.css"/>
</block>
<block name="body">
<div class="container">
    <div class="cr_container">
        <div class="addresume">
            <input type="button" class="inputbutton" value="+ 编辑教育经历">
        </div>
        <div class="content">
            <div class="cr_pack1">
                <form action="__ACTION__" method="post" class="ajaxForm" id="orderForm">
                    <div>
                        <ul>
                            <li>
                            <span class="pack_name">
                                学校名称:
                            </span>
                                <span class="pack_info">
                                <input class="inputtext1" placeholder="请输入学校名称" name="school_name" value="{$info['school_name']}" />
                            </span>
                            </li>
                            <li>
                            <span class="pack_name">
                                学&#12288;&#12288;历:
                            </span>
                                <span class="pack_info">
                                <select name="degree" id="degree" class="marriage">
                                    <option value="">请选择学历</option>
                                    <foreach name="edu_list" item="v">
                                        <option value="{$v['education_name']}" <if condition="$v.education_name eq $info['degree']">selected</if>>{$v['education_name']}</option>
                                    </foreach>
                                </select>

                            </span>
                            </li>
                            <li>
                            <span class="pack_name">
                                专&#12288;&#12288;业:
                            </span>
                                <span class="pack_info">
                                <input class="inputtext1" placeholder="请输入专业" name="major" value="{$info['major']}" />
                            </span>
                            </li>
                            <li>
                            <span class="pack_name">
                                开始时间:
                            </span>
                                <span class="pack_info">
                                <input type="date" class="inputdate" name="starttime" value="{$info['starttime']|date='Y-m-d', ###}" />
                            </span>
                                <span class="pack_name">
                                结束时间:
                            </span>
                                <span class="pack_info">
                                <input type="date" class="inputdate" name="endtime" value="<if condition='$info.is_current eq 0'>{$info['endtime']|date='Y-m-d', ###}<else/></if>" />
                            </span>

                                <span class="pack_info">
                                <input type="checkbox" name="is_current_edu" value="1" class="check_current" style="vertical-align: middle">至今
                            </span>
                                <script type="text/javascript">
                                    $(function(){
                                        if({$info['is_current']} == 1){
                                            $('.check_current').attr('checked', 'checked');
                                        }
                                    });
                                </script>
                            </li>
                        </ul>
                        <input type="hidden" name="resume_id" value="{$info['resume_id']}">
                        <input type="hidden" name="id" value="{$info['id']}">
                        <input type="button" class="keepbutton resume_edu_button" onclick="editResumeEdu()" value="保存教育经历">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</block>
<block name="script">
    <script type="text/javascript">
        function editResumeEdu(){
            $.ajax({
                url : "{:U('ResumeEdu/editResumeEdu')}",
                type : "POST",
                dataType : "json",
                data : $("#orderForm").serialize(),
                success : function(data){
                    toastr(data.info);
                    if(data.status == 1){
                        window.parent.location.href='/index.php/NewHr/Resume/editResume/resume_id/'+data.data;
                        setTimeout(layer_reload, 1000);
                    }
                }
            });
        }
        function layer_reload() {
            window.parent.layer.closeAll();
        }
    </script>
</block>