<extend name="Common/base"/>
<block name="style">
    <style>
        body{
            overflow: hidden;
        }
        .link-btn:hover{
            background: #f4f4f4;
        }
    </style>
</block>

<block name="body">
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:;"><img src="__STATIC__/images/hr_logo.png"></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="{:U('Index/index')}">返回首页 </a>
                        </li>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="javascript:;">欢迎你, <span>{$Think.session.hr_auth.hr_name}</span> </a>
                        </li>
                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="{:U('Login/logout')}">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 侧边导航栏 -->
        <div class="left-sidebar" style="overflow: auto;">
            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <volist name="menu_list" id="menu">
                    <volist name="menu.items" id="v">
                        <li class="sidebar-nav-link">
                            <a href="{$v.action}" target="mainIframe">
                                <span class="sidebar-nav-link-logo"></span>{$v.label}
                            </a>
                        </li>
                    </volist>
                </volist>
                <li style="padding-left: 10%; margin-top: 40px; font-size: 13px; word-break: break-all; word-wrap: normal; padding-right: 20px">
                    <div>
                        <p>联系方式：<?php echo C('CONTACTS_MOBILE'); ?></p>
                        <p>联系地址：<?php echo C('COMPANY_ADDRESS'); ?></p>
                        <p>扫码使用小程序：</p>
                        <p><img src="__PUBLIC__/sj_code.jpg" alt="" width="180px"></p>
                    </div>
                </li>
            </ul>
        </div>

        <!-- 内容区域 -->
          <div class="tpl-content-wrapper">
            <iframe src="{:U('Hr/Index/welcome')}" name="mainIframe" id="mainIframe" style="height:100%; width:100%; border: 0px;" frameborder="0"></iframe>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        function ResizeWindow(){
            h = $(window).height();
            w = $(window).width();
            topHeight = $('header').outerHeight(true);
            $('.left-sidebar, #mainIframe').height(h - topHeight);
            $(' #mainIframe').width(w - $('.left-sidebar').outerWidth(true));
        }

        $(function(){
            //定位
            ResizeWindow();
            $(window).resize(function(){
                ResizeWindow();
            })
        })
    </script>
</block>