<extend name="Common/base"/>
<block name="style">
    <style type="text/css">
    </style>
</block>

<block name="body">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">可推荐悬赏列表[根据人才列表筛选]</div>
                    </div>
                    <div class="widget-body  am-fr">

                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="__SELF__" method="get">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                                <div class="am-form-group tpl-table-list-select">

                                </div>
                            </div>
                        </form>

                        <div class="am-u-sm-12">
                            <div>
                                公司logo：<img src="{$company_info['company_logo']}" alt="公司logo" height="36px" />
                                公司名称：{$company_info.company_name}
                                注册排名：{$ranking.user_ranking}
                                HR排名：{$ranking.resume_ranking}
                                人才数量：{$ranking.resume_number}
                                本月收益:{$ranking.month_amount}
                            </div>
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                <thead>
                                <tr>
                                    <th width="10%">悬赏职位</th>
                                    <th width="8%">悬赏数量</th>
                                    <th width="12%" class="align-center">悬赏佣金</th>
                                    <th width="12%" class="align-center">已推荐数量</th>
                                    <th width="10%" class="align-center">悬赏时间</th>
                                    <th width="15%" class="align-center">悬赏地区</th>
                                    <th width="15%" class="align-center">福利待遇</th>
                                    <th class="align-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="info" item="v" key="k">
                                    <tr class="gradeX">
                                        <td  style="color: #ff1408">{$v['position_name']}</td>
                                        <td>
                                            {$v['recruit_num']}
                                        </td>
                                        <td class="align-center">{$v['commission']}</td>
                                        <td class="align-center">{$v['num']}</td>
                                        <td class="align-center">{$v['add_time']}</td>
                                        <td class="align-center" style="color: #ff1408">{$v['job_area']}</td>
                                        <td class="align-center">{$v['welfare']}</td>

                                        <td class="f-14 align-center">
                                            <div class="tpl-table-black-operation">
                                                <div class="tw-dropdown-toggle" style="position:relative;display: inline; ">
                                                    <a href="{:U('Recruit/seeRecruitDetail',array('id'=>$v['id']))}">悬赏详情
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                            <empty name="info">
                                <h4>aOh! 没有相关内容!</h4>
                            </empty>
                        </div>
                        <div class="am-u-lg-12 am-cf">

                            <div class="am-fr">
                                <div class="am-pagination tpl-pagination">
                                    {$page}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
    </script>
</block>