.container {
    width: 100%;
    margin: 0 auto;
}

.rl_container {
    padding: 14px 40px 48px 44px;
    /*width: 1724px;*/
    height: 100%;
    background: #EEF0F5;
}

.inputbutton {
    background: #0DBCD1;
    color: white;
    width: 160px;
    height: 46px;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
}
.inputdate2{
    margin-right: 14px;
}
.inputdate1{
    height: 46px;
    /*border: none;*/
    margin-left: 8px;
}
.rl_select {
    height: 46px;
    width: 180px;
    border-color: #EFEFEF;
    padding-left: 10px;
    border-radius: 4px;
    margin-right: 26px;
    color: #CECECE;
}

.rl_find {
    height: 46px;
    background: white;
    display: inline-block;
}
.rl_find button{
    height: 46px;
    width: 66px;
    background: #0DBCD1;
    color: white;
    display: inline-block;
    border-color: #EFEFEF;
}

.inputfind {
    height: 46px;
    width: 200px;
    padding-left: 12px;
    border: none;
    color: #CECECE;
}

.content {

}

.rl_title {
    background: #FAFBFD;
    height: 50px;
    padding: 0 26px;

}

.rl_title span {
    color: #25282F;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
}

.rl_title span:nth-child(1) {
    width: 10%;
}

.rl_title span:nth-child(2) {
    width: 14%;
}

.rl_title span:nth-child(3) {
    width: 18%;
}

.rl_title span:nth-child(4) {
    width: 18%;
}

.rl_title span:nth-child(5) {
    width: 10%;
}

.rl_title span:nth-child(6) {
    width: 12%;
}

.rl_title span:nth-child(7) {
    width: 14%;
}

.rl_item {
    width: 100%;
    background: white;
    padding: 0 26px;
    padding-bottom: 20px;
}

.rl_item ul li {
    color: #999;
    font-size: 14px;
    min-height: 75px;
    padding-top: 24px;
    border-bottom: 1px solid #F2F2F2;
}

.rl_item ul li span {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.rl_item ul li span:nth-child(1) {
    width: 10%;
}

.rl_item ul li span:nth-child(2) {
    width: 14%;
}

.rl_item ul li span:nth-child(3) {
    width: 18%;
    text-align: left;
}

.rl_item ul li span:nth-child(4) {
    width: 18%;
    text-align: left;
}

.rl_item ul li span:nth-child(5) {
    width: 10%;
}

.rl_item ul li span:nth-child(6) {
    width: 12%;
}

.rl_item ul li span:nth-child(7) {
    width: 14%;
    color: #0DBCD1;
}

.rl_item ul li span:nth-child(7) > a {
    display: inline-block;
    color: #0DBCD1;
}

.bj {
    margin-right: 30px;
    display: inline-block;
    cursor: pointer;
    color: rgb(13,188,209);
}
.bj a{
    cursor: pointer;
    color: rgb(13,188,209);
}

.detail {
    cursor: pointer;
    display: inline-block;
    color: rgb(13,188,209);
}
.detail a{
    display: inline-block;
    color: rgb(13,188,209);
}












