<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{:C('WEB_TITLE')}HR平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="__HR__/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="__HR__/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="__HR__/css/header.css"/>
    <script src="__HR__/js/jquery-3.1.1.min.js"></script>
    <script src="__HR__/js/bootstrap.min.js"></script>
    <block name="style"></block>
    <style>
        input[type=date]::-webkit-inner-spin-button { visibility: hidden; }
        .isdata{
            text-align: center;
            color: white;
            font-size: 26px;
            padding: 50px 0;
        }
        .isdata span{
            background: #0DBCD1;
            width: 240px;
            display: inline-block;
            padding: 10px 0;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <block name="body"></block>
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layer/extend/layer.ext.js"></script>
    <script type="text/javascript" src="__HR__/js/common.js?v=1.01"></script>
    <script type="text/javascript" src="__STATIC__/js/ajaxForm.js"></script>
    <script>
        // 定义全局变量
        RECYCLE_URL = "{:U('recycle')}"; // 默认逻辑删除操作执行的地址
        RESTORE_URL = "{:U('restore')}"; // 默认逻辑删除恢复执行的地址
        DELETE_URL = "{:U('del')}"; // 默认删除操作执行的地址
        UPLOAD_IMG_URL = "{:U('uploadImg')}"; // 默认上传图片地址
        UPLOAD_FIELD_URL = "{:U('uploadField')}"; // 默认上传图片地址
        DELETE_FILE_URL = "{:U('delFile')}"; // 默认删除图片执行的地址
        CHANGE_STAUTS_URL = "{:U('changeDisabled')}"; // 修改数据的启用状态
    </script>
    <block name="script"></block>
</body>
</html>
