<extend name="Common/base"/>
<block name="style">

</block>

<block name="body">
    <div class="row-content am-cf">
        <div class="row">
           <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">{$config['id'] ? '编辑' : '添加'}参数配置</div>
                    </div>
                    <div class="widget-body am-fr">

                        <form action="__ACTION__" method="post" class="ajaxForm am-form tpl-form-border-form tpl-form-border-br">
                            <div class="am-form-group">
                                <label for="key" class="am-u-sm-3 am-form-label">
                                    配置标识 <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input type="text" class="tpl-form-input" id="key" name="key" placeholder="请输入配置标识"  value="{$config.key}">
                                    <small>请填写标题文字1-30字符。</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="name" class="am-u-sm-3 am-form-label">
                                    配置标题 <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input type="text" class="tpl-form-input" id="name" name="name" placeholder="请输入配置标题"  value="{$config.name}">
                                    <small>请填写标题文字1-60字符。</small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="group" class="am-u-sm-3 am-form-label">
                                    配置分组 <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <div class="tpl-table-list-select am-align-left">
                                        <select data-am-selected="{}" style="display: none;" name="group" id="group">
                                            <option value="0">选择参数所属配置分组</option>
                                            <volist name="Think.config.CONFIG_GROUP_LIST" id="group">
                                                <option value="{$key}" >{$group}</option>
                                            </volist>
                                        </select>
                                        <if condition="$config['group'] neq 0">
                                            <script>
                                                $('#group').val('{$config["group"]}');
                                            </script>
                                        </if>
                                    </div>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="type" class="am-u-sm-3 am-form-label">
                                    配置类型 <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <div class="tpl-table-list-select am-align-left">
                                        <select data-am-selected="" style="display: none;" name="type" id="type">
                                            <option value="0">选择参数所属配置类型</option>
                                            <volist name="Think.config.CONFIG_TYPE_LIST" id="type">
                                                <option value="{$key}" >{$type}</option>
                                            </volist>
                                        </select>
                                        <if condition="$config['type'] neq 0">
                                            <script>
                                                $('#type').val('{$config["type"]}');
                                            </script>
                                        </if>
                                    </div>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="value" class="am-u-sm-3 am-form-label">
                                    配置值 <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <textarea type="text" class="tpl-form-input" id="value" name="value" placeholder="请输入配置值">{$config.value}</textarea>
                                    <small>数组的情况下,请输入英文下的冒号(:)</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="desc" class="am-u-sm-3 am-form-label">
                                    配置项说明
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <textarea type="text" class="tpl-form-input" id="desc" name="desc" placeholder="配置项说明" >{$config.desc}</textarea>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">
                                    排序 <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <div class="row">
                                        <div class="am-u-sm-3">
                                            <input type="text" placeholder="从小到大排序" id="sort" name="sort" value="{$config['sort']}">
                                            <small>请输入整数类型</small>
                                        </div>
                                        <div class="am-u-sm-7 am-u-sm-pull-2"></div></div>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">是否启用</label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <div class="am-form-group">
                                        <label class="am-radio-inline">
                                            <input type="radio" name="status" id="able" value="0" data-am-ucheck> 启用
                                        </label>
                                        <label class="am-radio-inline">
                                            <input type="radio" name="status" id="disable" value="1" data-am-ucheck> 禁用
                                        </label>
                                    </div>
                                    <if condition="$config['status'] eq 0 or $config['display'] eq ''">
                                        <script>
                                            $('#able').attr('checked','true');
                                        </script>
                                    <else/>
                                        <script>
                                            $('#disable').attr('checked','true');
                                        </script>
                                    </if>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <input type="hidden" name="id" value="{$config['id']}">
                                    <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                    <button type="button" class="am-btn am-btn-primary am-btn-warning " onclick="goback();">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        function callback(data) {
            toastr(data.info);
            if (data.status == 1) {
                location.href = '__URL__/listConfig';
            }
        }
    </script>
</block>