<extend name="Common/base"/>
<block name="style"></block>
<block name="body">
    <header>
        <div class="head clearfix">
            <div class="fl head_left">
                <img src="__HR__/images/z_32.png">
                <label>HR端</label>
            </div>
            <div class="fr head_right">
                <a href="{:U('Index/index')}" style="margin-right: 20px">返回首页</a>
                <span class="head_logo">
                <img src="{$info['company_logo']}">
                <span>{$info['company_name']|default='公司名称尚未填写'}</span>
                </span>
                <span class="head_exit">
                <img src="__HR__/images/exit.png">
                    <span><a href="{:U('Login/logout')}">退出</a></span>
                </span>
            </div>
        </div>
    </header>
    <div class="hcontainer clearfix">
        <div class="left_tab fl">
            <div class="tab_userinfo">
                <div class="userimg">
                    <img src="{$info['head_pic']}">
                </div>
                <div class="username">
                    <label>{$info['nickname']}</label>
                </div>
            </div>
            <div class="tab_nav">
                <ul class="navItem">
                    <volist name="menu_list" id="menu">
                        <volist name="menu.items" id="v">
                            <li class="{$v['class']}">
                                <a href="{$v.action}" target="mainIframe">
                                    <span class="sidebar-nav-link-logo"></span>{$v.label}
                                </a>
                            </li>
                        </volist>
                    </volist>
                </ul>
            </div>
            <div class="tab_info">
                <div>
                    联系方式：15155912501
                </div>
                <div>
                    联系地址： <br>猎新信息科技（上海）有限公司
                </div>
                <div class="info_ewm">
                    <img src="__HR__/images/ewm.png">
                </div>
            </div>
        </div>
        <div class="hright_content fl ">
            <iframe id="mainIframe" name="mainIframe"  scrolling="yes" frameborder="0" src="{:U('NewHr/Index/welcome')}"></iframe>
        </div>
    </div>
</block>
<block name="script">
    <script>
        $(function () {
            if (document.documentElement && document.documentElement.clientHeight && document.documentElement.clientWidth)
            {
                var winHeight = document.documentElement.clientHeight;
                var winWidth = document.documentElement.clientWidth;
            }
            var iframe = document.getElementById("mainIframe");
            iframe.height = winHeight;
            iframe.width = winWidth-213;
            $('.navItem a').click(function(){
                $(this).parent('li').addClass('nav_active').siblings().removeClass('nav_active');
            });
        });
    </script>
</block>