<extend name="Common/base"/>
<block name="style">

</block>

<block name="body">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">用户列表</div>

                    </div>
                    <div class="widget-body  am-fr">

                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <!--<button type="button" class="am-btn am-btn-default am-btn-danger" onclick="recycle('chkbId', '确认删除?! 删除后无法恢复!', true)">-->
                                            <!--<span class="am-icon-trash-o"></span> 批量删除</button>-->
                                       <!--<a type="button" class="am-btn am-btn-default am-btn-success" href="{:U('Admin/User/user_export', array('type' => $user_type))}"><span></span> 导出为excel</a>-->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="__SELF__" method="get">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">
                                    <!--<select name="is_auth" id="is_auth" data-am-selected="{}">-->
                                        <!--<option value="-1">请选择验证状态</option>-->
                                        <!--<option value="0">未通过</option>-->
                                        <!--<option value="1">已通过</option>-->
                                    <!--</select>-->
                                    <!--<if condition="is_auth neq -1">-->
                                        <!--<script>-->
                                            <!--$('#is_auth').val('{$is_auth}');-->
                                        <!--</script>-->
                                    <!--</if>-->
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field" name="keyword" placeholder="请输入用户账号/用户名" value="{$keyword}">
                                    <span class="am-input-group-btn">
                                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="submit"></button>
                                        <a class="am-btn  am-btn-default am-btn-danger tpl-table-list-field am-icon-refresh" type="button" href="__ACTION__"></a>
                                    </span>
                                </div>
                            </div>
                            <input name="p" value="1" type="hidden"/>
                        </form>

                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                <thead>
                                    <tr>
                                        <th width="60">编号</th>
                                        <th width="11%" >会员手机</th>
                                        <th width="11%" >用户名</th>
                                        <th width="11%" >昵称</th>
                                        <th width="11%" >公司名称</th>
                                        <th width="17%" class="align-center">注册时间</th>
                                        <th width="10%" class="align-center">状态</th>
                                        <th >操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="userslist" item="v" key="k">
                                        <tr class="gradeX">
                                            <!--<td>{:pageNumber(15, $k+1)}</td>-->
                                            <td>{$v['user_id']}</td>
                                            <td>{$v['mobile']}</td>
                                            <td>{$v['user_name']}</td>
                                            <td>{$v['nickname']}</td>
                                            <td>{$v['company']}</td>
                                            <td class="align-center">{:time_format($v['register_time'])}</td>
                                            <td class="align-center">
                                                {:show_disabled($v['disabled'])}
                                            </td>
                                            <td class="f-14">
                                                <div class="tpl-table-black-operation">
                                                    <!--<if condition="$v['disabled'] eq 0">-->
                                                        <!--<a title="点击启用" href="javascript:void(0)" onclick="changeDisabled({$v['user_id']});">-->
                                                            <!--启用-->
                                                        <!--</a>-->
                                                    <!--</if>-->
                                                    <!--<if condition="$v['disabled'] eq 1">-->
                                                        <!--<a title="点击禁用" href="javascript:void(0)" class="tpl-table-black-operation-del" onclick="changeDisabled('{$v.user_id}');">-->
                                                            <!--禁用-->
                                                        <!--</a>-->
                                                    <!--</if>-->
                                                    <a href="{:U('User/userDetail', array('user_id'=>$v['user_id']))}"> 用户详情 </a>
                                                    <!--<if condition="$user_type eq 1">-->
                                                        <!--<a href="{:U('Resume/listHrResume', array('user_id'=>$v['user_id']))}"> 人才库 </a>-->
                                                        <!--<a href="{:U('CompanyInfo/companyInfoDetail', array('user_id'=>$v['user_id']))}"> 公司详情 </a>-->
                                                        <!--<else/>-->
                                                        <!--<a href="{:U('Resume/getResumeDetail', array('user_id'=>$v['user_id']))}"> 简历详情 </a>-->
                                                    <!--</if>-->
                                                </div>
                                            </td>
                                        </tr>
                                    </foreach>

                                <!-- more data -->
                                </tbody>
                            </table>

                            <empty name="userslist">
                                <h4>aOh! 没有相关内容!</h4>
                            </empty>
                        </div>
                        <div class="am-u-lg-12 am-cf">
                            <div class="am-fr">
                                <div class="am-pagination tpl-pagination">
                                    {$page}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        function changeDisabled(user_id){
            $.ajax({
                url : "{:U('User/changeDisabled')}",
                type : "POST",
                dataType : "json",
                data : {
                    "user_id" : user_id,
                },
                success : function(data){
                    toastr(data.info);
                    if(data.status == 1){
                        setInterval('reload()', 2000);
                    }
                }
            });
        }
        function reload() {
            location.reload();
        }
    </script>
</block>