<extend name="Common/base"/>
<block name="style">
	<style>
		.am-table {
			font-size: 1.3rem;
			margin-bottom: 0;
		}
		.am-btn{
			padding:5px 15px;font-size:12px
		}
	</style>
</block>
<block name="body">
	<!-- 内容区域 -->
	<div class="row-content am-cf">
		<div class="row">
			<div class="widget am-cf">
				<div class="widget-head am-cf">
					<div class="widget-title  am-cf">用户基本信息</div>
				</div>
				<div class="widget-body  am-fr">
					<form id="orderForm" action="__ACTION__" method="post" class="ajaxForm">
						<table width="100%" class="am-table am-table-bordered">
							<thead>
							<tr><th colspan="4">用户基本信息</th></tr>
							</thead>
							<tbody>
							<tr>
								<td style="width: 35%;"><div align="right"><strong>真实姓名：</strong></div></td>
								<td>{$userInfo['user_name']}</td>
							</tr>
							<tr>
								<td><div align="right"><strong>昵称：</strong></div></td>
								<td>{$userInfo['nickname']}</td>
							</tr>
							<tr>
								<td><div align="right"><strong>手机号：</strong></div></td>
								<td>{$userInfo['mobile']}</td>
							</tr>
							<tr>
								<td><div align="right"><strong>性别：</strong></div></td>
								<td>
									<if condition="$userInfo['sex'] == 1">
										男
										<elseif condition="$userInfo['sex'] == 2"/>
										女
										<elseif condition="$userInfo['sex'] == 0"/>
										保密
									</if>
								</td>
							</tr>


							<tr>
								<td><div align="right"><strong>注册时间：</strong></div></td>
								<td>{:time_format($userInfo['register_time'])}</td>
							</tr>
							<tr>
								<td><div align="right"><strong>公司名称：</strong></div></td>
								<td>{$userInfo['company']}</td>
							</tr>
							</tbody>
						</table>
						<table width="100%" class="am-table am-table-bordered">
							<thead>
							<tr><th colspan="4">用户验证信息</th></tr>
							</thead>
							<tbody>
							<notempty name="userInfo">
								<tr>
									<td style="width: 35%;"><div align="right"><strong>真实姓名：</strong></div></td>
									<td>{$userInfo['true_name']}</td>
								</tr>


								<tr>
									<td><div align="right"><strong>头像：</strong></div></td>
									<td><img src="{$userInfo['head_pic']}" width="100px" alt="头像"></td>
								</tr>

								<tr>
									<td><div align="right"><strong>添加时间：</strong></div></td>
									<td>{:time_format($userInfo['add_time'])}</td>
								</tr>
							</notempty>
							<!--<tr>-->
								<!--<td style="width: 35%;"><div align="right"><strong>验证结果：</strong></div></td>-->
								<!--<td>-->
									<!--<if condition="$userInfo['is_auth'] eq 1">已通过<else/>未通过</if>-->
								<!--</td>-->
							<!--</tr>-->

							</tbody>
						</table>
						<table width="100%" class="am-table">
							<tbody>
							<tr>
								<td align="center">
									<button type="button" class="am-btn am-btn-default tpl-btn-bg-color-default " onclick="goback()">返回</button>
								</td>
							</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</block>
<block name="script">
	<script type="text/javascript">
        $(function(){
            $('img').click(function(){
                window.open($(this).attr('src'));
            });
        });
	</script>
</block>