<extend name="Common/base"/>
<block name="body">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">会员提现列表</div>
                    </div>
                    <div class="widget-body  am-fr">
                        <div class="am-u-sm-12 am-u-md-8 am-u-lg-8">
                            <div class="am-form-group">
                            </div>
                        </div>
                        <form action="__SELF__" method="get">
                            <div class="am-u-sm-12 am-u-md-4 am-u-lg-4">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field" name="mobile" placeholder="请输入会员手机号" value="{:I('mobile')}">
                                    <span class="am-input-group-btn">
                                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="submit"></button>
                                        <a class="am-btn  am-btn-default am-btn-danger tpl-table-list-field am-icon-refresh" type="button" href="__ACTION__"></a>
                                    </span>
                                </div>
                            </div>
                            <input name="p" value="1" type="hidden"/>
                        </form>

                        <div class="am-u-sm-12" style="margin-top:20px">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                <thead>
                                    <tr>
                                        <th width="50">编号</th>
                                        <th>会员账号</th>
                                        <th width="15%" class="align-center">提现金额</th>
                                        <th width="15%" class="align-center">可用余额</th>
                                        <th width="15%" class="align-center">申请时间</th>
                                        <th width="12%" class="align-center">处理状态</th>
                                        <th class="align-center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="list" item="v">
                                        <tr class="gradeX">
                                            <td>{:pageNumber(15, $key+1)}</td>
                                            <td>{$v['user_name']}</td>
                                            <td class="align-center">￥{:fen_to_yuan($v['money'])}</td>
                                            <td class="align-center">￥{:fen_to_yuan($v['user_money'])}</td>
                                            <td class="align-center">{:time_format($v['add_time'])}</td>
                                            <td class="align-center">
                                                {:withdraw_audit_status($v['state'])}
                                            </td>
                                            <td class="f-14 align-center">
                                                <div class="tpl-table-black-operation">
                                                    <if condition="$account_type eq 1">
                                                            <if condition="$v.state eq 1">
                                                                <a href="{:U('User/returnWithdraw',array('id'=>$v['id']))}">
                                                                    <i class="am-icon-pencil"></i> 处理
                                                                </a>
                                                                <else/>
                                                                <a href="{:U('User/returnWithdraw',array('id'=>$v['id']))}" class="tpl-table-black-operation-del">
                                                                    <i class="am-icon-eye"></i> 查看
                                                                </a>
                                                            </if>
                                                        <else/>
                                                            <if condition="$v.state eq 0">
                                                                <a href="{:U('User/editWithdraw',array('id'=>$v['id']))}">
                                                                    <i class="am-icon-pencil"></i> 处理
                                                                </a>
                                                                <else/>
                                                                <a href="{:U('User/editWithdraw',array('id'=>$v['id']))}" class="tpl-table-black-operation-del">
                                                                    <i class="am-icon-eye"></i> 查看
                                                                </a>
                                                            </if>
                                                    </if>
                                                </div>
                                            </td>
                                        </tr>
                                    </foreach>
                                </tbody>
                            </table>
                            <empty name="list">
                                <h4>aOh! 没有相关内容!</h4>
                            </empty>
                        </div>
                        <div class="am-u-lg-12 am-cf">
                            <div class="am-fr">
                                <div class="am-pagination tpl-pagination">
                                    {$page}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
    </script>
</block>