<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../Statics/css/base.css"/>
    <link href="../../Statics/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../Statics/css/recharge.css"/>

</head>
<body>
<div class="container">
    <div class="r_container">
        <div class="content">
            <div class="r_items">
                <ul>
                    <li>
                        <div>公司logo</div>
                        <div >
                            <img id="uplogo" src="../../Statics/images/uplogo.png">
                            <input id="upimg1" type="file" class="inputfile">
                        </div>
                    </li>
                    <li>
                        <div>公司名称</div>
                        <div>
                            <input class="inputtext" placeholder="请输入公司名称">
                        </div>
                    </li>
                    <li>
                        <div>公司地址</div>
                        <div class="r_address">
                            <div>
                                <span>
                                    <select>
                                        <option value="山东省">山东省</option>
                                        <option value="山东省">1</option>
                                        <option value="山东省">2</option>
                                    </select>
                                </span>
                                <span>
                                    <select>
                                        <option value="请选择市">请选择市</option>
                                        <option value="山东省">1</option>
                                        <option value="山东省">2</option>
                                    </select>
                                </span>
                                <span>
                                    <select>
                                        <option value="请选择县区">请选择县区</option>
                                        <option value="山东省">1</option>
                                        <option value="山东省">2</option>
                                    </select>
                                </span>
                            </div>
                            <div>
                                <input class="inputtext inputtext2" placeholder="请输入详细地址">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>联系方式</div>
                        <div>
                            <input class="inputtext" placeholder="请输入公司联系方式">
                        </div>
                    </li>
                    <li>
                        <div>公司简介</div>
                        <div>
                            <textarea class="inputtextarea"></textarea>
                        </div>
                    </li>
                    <li>
                        <div style="height: auto">环境照片</div>
                        <div class="clearfix">
                            <div id="imgs" class="upimg">
                                <img id="hjimg1" src="../../Statics/images/img1.png">
                                <img id="hjimg2" src="../../Statics/images/img1.png">
                                <img id="hjimg3" src="../../Statics/images/img1.png">
                                <img id="hjimg4" src="../../Statics/images/img1.png">
                                <img id="hjimg5" src="../../Statics/images/img1.png">
                                <img id="hjimg6" src="../../Statics/images/img1.png">
                                <img id="hjimg7" src="../../Statics/images/img1.png">
                            </div>
                            <div  class="upimg_button">
                                <img id="upimgs" src="../../Statics/images/upimg.png">
                                <input id="upimg2" type="file" class="inputfile">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="buttonstyle">
                <input class="inputbutton" type="button" value="确定修改">
            </div>
            <div class="tip">
                提示：如果您已经更换工作，请在此处重新提交公司信息 如果更改公司信息，需要重新提交公司营业执照图片。
            </div>
        </div>
    </div>
</div>

<script src="../../Statics/js/jquery-3.1.1.min.js"></script>
<script>
    $("#uplogo").click(function () {
                $("#upimg1").click();
            })
    $("#upimg1").change(function () {
        var obj = $("#upimg1")[0].files[0];
        var fr = new FileReader();
        fr.readAsDataURL(obj);
        fr.onload = function () {
            // console.log(this.result)
            $("#uplogo").attr('src', this.result);
        };
    })


    var imgnum=0;
    $("#upimgs").click(function () {
                $("#upimg2").click()
            })
    $("#upimg2").change(function () {
        imgnum++;
        console.log(imgnum)
        $("#hjimg"+imgnum).css('display','inline-block')
        var obj = $("#upimg2")[0].files[0];
        var fr = new FileReader();
        fr.readAsDataURL(obj);
        fr.onload = function () {
            console.log(this.result)
            $("#hjimg"+imgnum).attr('src', this.result);
        };
        if(imgnum>6){
            $(".upimg_button").css('display','none');
        }
    })
</script>
</body>
</html>