<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/base.css"/>
    <!--<link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="../css/resume.css"/>

</head>
<body>
<div class="container">
    <div class="r_container">
        <div class="content">
            <div class="r_date">
                更新时间：2018-11-20 12:34:56
            </div>
            <div class="r_personinfo clearfix">
                <div class="r_perimg fl">
                    <img src="../images/tx.png">
                </div>
                <div class="r_perinfo fr">
                    <ul>
                        <li class="clearfix">
                            <div class="per_name fl">
                                孙大卫
                            </div>
                            <div class="fr per_info">
                                <span>男</span>
                                <span>24岁</span>
                                <span>未婚</span>
                                <span>本科</span>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="fl">
                                求职方向：销售
                            </div>
                            <div class="li2img fr">
                                <img src="../images/tel.png">15563638893
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="fl">
                                工作城市：临沂、上海、北京
                            </div>
                            <div class="li3img fr">
                                <img src="../images/wz.png">山东临沂河东经济开发区杭州路23号
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="r_works">
                <div class="work_title">
                    工作经历
                </div>
                <div class="work_company">
                    <label>
                        山东华派克物流有限公司
                    </label>
                    <span class="work_yrz"><img src="../images/rz.png">已认证</span>
                    <span class="work_wrz"><img src="../images/wrz.png">未认证</span>
                </div>
                <div class="work_namedate clearfix">
                    <div class="work_name fl">
                        叉车司机
                    </div>
                    <div class="work_date fr">
                        2015.1-至今
                    </div>
                </div>
                <div class="work_content clearfix">
                    <span class="fl">内容</span>
                    <span class="fr wc_info">
                        相关技术：采用 SpringBootMyBatisShiro 框架Vue2视图框架 Quartz 2.3定时器log4j日志管理功能模块：用户管理、角色管理、部门管理、菜单管理、 SQL 监控、定时任务、字典管理、文件管理、系统日志、资产管理、招标管理、投标管理、成本管理、分包管理、安全管理、质量管理、进度管理、工程表单管理、指标管理
                    </span>
                </div>
            </div>
            <div class="r_edu">
                <div class="edu_title">
                    教育经历
                </div>
                <div class="edu_school">
                <div class="cf">
                    <div class = "fl">
                        <span>北京大学</span>
                        <span>机械工程学院</span>
                        <span>本科</span>
                     </div>
                <div class="fr">2011.09-2014.06</div>
                </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>