<!doctype html>
<html>
<head>
	<title>{:C('WEB_TITLE')} - 六牛科技技术支持</title>
    <link rel="stylesheet" type="text/css" href="__HOME__/css/css.css"/>
    <link rel="stylesheet" type="text/css" href="__ADMIN__/ui/css/amazeui.min.css" media="all">
    <!--[if lt IE 9]-->
    <script type="text/javascript" src="__PUBLIC__/jquery-1.10.2.min.js"></script>
    <!--[endif]-->
    <script type="text/javascript" src="__PUBLIC__/jquery-2.0.3.min.js"></script>
    <block name="style"></block>
</head>
<body>
<block name="body">
    I am body!
</block>

<block name="footer">

</block>
<!-- /内容区 -->
<script type="text/javascript" src="__ADMIN__/ui/js/theme.js"></script>
<script type="text/javascript" src="__ADMIN__/ui/js/amazeui.min.js"></script>
<script type="text/javascript" src="__ADMIN__/ui/js/amazeui.datatables.min.js"></script>
<script type="text/javascript" src="__ADMIN__/ui/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="__ADMIN__/ui/js/app.js?v=1.02"></script>
<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
<script type="text/javascript" src="__ADMIN__/layDate-v5.0.9/laydate/laydate.js"></script>
<script type="text/javascript" src="__ADMIN__/js/common.js?v=1.01"></script>
<script type="text/javascript" src="__STATIC__/js/ajaxForm.js"></script>
<include file="Common/merchant_script"/>

<block name="script"></block>
</body>
</html>
