<extend name="Common/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__HR__/css/creatResume.css"/>
</block>
<block name="body">
<div class="container">
    <div class="cr_container">
        <div class="addresume">
            <input type="button" class="inputbutton" value="简历检索">
        </div>
        <div class="content">
            <form id="orderForm" action="{:U('Resume/listHrResume')}" method="get">
            <div class="cr_pack1">
                <ul>
                    <li>
                        <span class="pack_name">
                            简历姓名:
                        </span>
                        <span class="pack_info">
                            <input class="inputtext1" placeholder="请输入简历姓名" name="true_name" value="{$info['true_name']}">
                        </span>
                    </li>
                    <li>
                        <span class="pack_name">
                            联系方式:
                        </span>
                        <span class="pack_info">
                            <input class="inputtext1" placeholder="请输入联系方式" name="mobile" value="{$info['mobile']}">
                        </span>
                    </li>
                    <li>
                        <span class="pack_name">
                            性别:
                        </span>
                        <span class="pack_info">
                            <select name="sex" class="ages">
                                <option value="0">不限</option>
                                <option value="1">男</option>
                                <option value="2">女</option>
                            </select>
                        </span>
                    </li>
                    <li>
                        <span class="pack_name">
                            求职方向:
                        </span>
                        <span class="pack_info">
                            <select class="ages" name="industry_id" id="industry_id">
                                <option value="">请选择行业</option>
                                <foreach name="industry" item="v">
                                    <option value="{$v['id']}">{$v['industry_name']}</option>
                                </foreach>
                            </select>
                            <select class="ages" name="parent_id" id="parent_id">
                            </select>
                            <select class="ages" name="position_id" id="position_id">
                            </select>
                        </span>
                    </li>
                    <li>
                        <span class="pack_name">
                            工作地区:
                        </span>
                        <span class="pack_info" id="start_address">
                            <select name="province" class="ages"></select>
                            <select name="job_area" class="ages"></select>
                            <select name="county" class="ages"></select>
                        </span>
                    </li>
                </ul>
                <input type="submit" class="keepbutton" value="提交">
            </div>
        </form>
        </div>
    </div>
</div>
</block>
<block name="script">
<script type="text/javascript" src="__STATIC__/js/address.js"></script>
<script type="text/javascript">
    $(function(){
        initAddress('#start_address',"", "", "", 1);
        var _handle = $('#industry_id');
        var industry_id = _handle.val();
        initPosition(industry_id);
        _handle.change(function(){
            initPosition($(this).val());
        });
        function initPosition(industry_id){
            if(industry_id > 0){
                $.post("/index.php/NewHr/Position/getPositionList", {industry_id: industry_id}, function (data) {
                    $('#parent_id').html('<option data-id="0" value="0">一级菜单</option>');
                    var dataLen = data.data.length;
                    var parent_sel = 0;
                    for (var i = 0; i < dataLen; i++) {
                        parent_sel = '';
                        $('#parent_id').append('<option data-id="' + data.data[i].id
                            + '" value="' + data.data[i].id + '" '+parent_sel+'>'
                            + data.data[i].position_name + '</option>');
                    }
                });
            }
        }
        $('#parent_id').change(function(){
            initPositionChildren($(this).val());
        });
        function initPositionChildren(position_id){
            if(position_id > 0){
                $.post("/index.php/NewHr/Position/getPositionChildrenList", {position_id: position_id}, function (data) {
                    $('#position_id').html('<option data-id="0" value="">请选择</option>');
                    var dataLen = data.data.length;
                    var parent_sel = '';
                    for (var i = 0; i < dataLen; i++) {
                        parent_sel = '';
                        $('#position_id').append('<option data-id="' + data.data[i].id
                            + '" value="' + data.data[i].id + '" '+parent_sel+'>'
                            + data.data[i].position_name + '</option>');
                    }
                });
            }
        }
    });
</script>
</block>